body {
    background-color: rgba(99, 89, 89, 0.8); /* Match the background color */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 100vh;
    font-family: 'Arial', sans-serif;
    color: #fff;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    padding-top: 40px;
}

.sidebar a {
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 15px 20px;
    color: #FFD700;
    font-size: 18px;
}

.sidebar i {
    font-size: 24px;
    color: #FFD700;
    margin: 10px 0;
    cursor: pointer;
}

.sidebar i:hover {
    color: #FFC107;
}

#container-settings {
    background-color: rgb(10, 10, 10); /* Dark background */
    width: 100%;
    max-width: 800px;
    padding: 20px;
    color: #FFD700;
    display: flex;
    flex-direction: column;
    justify-content: top;
    margin: 0;
    min-height: 100vh;
    overflow-y: auto;
}

#title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFD700;
}

#title i {
    margin-right: 5px;
    color: #FFD700;
}

.settings-form {
    display: flex;
    flex-direction: column;
    gap: 15px; /* Increased gap for better spacing */
}

.settings-form label {
    font-size: 16px;
    color: #FFD700;
}

.settings-form input[type="text"],
.settings-form input[type="email"],
.settings-form input[type="password"],
.settings-form select {
    width: calc(100% - 120px);
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background: #ffffff;
    color: #000;
    font-size: 16px;
}

.settings-form button {
    background-color: #FFD700;
    color: #000;
    border: none;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    width: calc(100% - 120px);
}

.settings-form button:hover {
    background-color: #FFC107;
}